body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/580/824/23/moon-night-nature-house-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* color: green; */
}

